---
import { siCplusplus, siSolid, siRust, siZig, siC } from "simple-icons"

import Page from "../layouts/Page.astro"

import SimpleIconLabel from "../components/SimpleIconLabel.astro"

const description = `("gamer" && "aesthetic lover" && "programmer" && "FOSS contributor")`
---

<style is:global>
	a {
		text-decoration-line: none;
	}
</style>

<Page description={description} bodyClass="h-card">
	Pronouns: <span class="u-pronoun" style="white-space:pre">
		<span class="p-x-pronoun-nominative">she</span>/<span class="p-x-pronoun-oblique">her</span> | 🏳️‍⚧️
	</span>
	<p class="p-note">
		I am a {description}<br /><br />
		<small>(trust me I have more personality, I am just an awful writer)</small>
	</p>
	<h2>What am I learning?</h2>
	<ul style="display:grid;gap:8px;">
		<li style="font-size:large">Languages</li>
		<ul style="display:grid;gap:8px;">
			<li><SimpleIconLabel icon={siC} href="https://godbolt.org/noscript/c" /></li>
			<li><SimpleIconLabel icon={siCplusplus} href="https://isocpp.org/" /></li>
			<li><SimpleIconLabel icon={siZig} href="https://ziglang.org/" /></li>
			<li><SimpleIconLabel icon={siRust} href="https://rust-lang.org/" hex="f83e1a" /></li>
		</ul>
		<li style="font-size:large">Technology</li>
		<ul style="display:grid;gap:8px;">
			<li><SimpleIconLabel icon={siSolid} href="https://solidjs.com/" /></li>
		</ul>
	</ul>
	<br/>
</Page>
