---
import { siGithub, siCodeberg, siGitlab, siDiscord, siBluesky } from "simple-icons"

import Social from "./Social.astro"
---

<style>
	nav {
		display: flex;
		flex-flow: wrap;
		align-items: center;
		gap: 1ch;
	}
	.u-uid {
		font-size: 28.5px;
		text-decoration: none;
		flex-grow: 1;
		margin: 0.5em 0px;
		display: flex;
		align-items: center;
	}

	.u-photo.profile-pic {
		width: 48px;
		height: 48px;
		border: 2px solid var(--accent);
		border-radius: 2.5%;
		margin-right: 0.5ch;
		vertical-align: middle;
	}
</style>

<nav>
	<a href="/" class="u-url u-uid" rel="author">
		<img src="/pfp.png" alt="An illustration of Kasane Teto" class="u-photo profile-pic" />
		<b><span class="p-name">charli</span></b>@port22.exposed
	</a>
	<Social href="https://github.com/port22exposed" icon={siGithub} />
	<Social href="https://codeberg.org/port22exposed" icon={siCodeberg} />
	<Social href="https://gitlab.com/port22exposed" icon={siGitlab} />
	<Social href="https://discord.com/users/1318383159645311009" icon={siDiscord} />
	<Social href="https://bsky.app/profile/did:plc:h2cmpplk6gsgo7awtoxygfro" icon={siBluesky} />
</nav>
